<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" xmlns:th="http://www.thymeleaf.org" >
    <title>Pet Clinic Vets Page</title>
</head>
<body>
<h1 th:text="'List of Owners'">Replaced at runtime</h1>
<table>
    <thead>
    <tr>
        <th>Id</th>
        <th>First Name</th>
        <th>Last Name</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="owner : ${owners}">
        <td th:text="${owner?.id}">id-placeholder</td>
        <td th:text="${owner?.firstName}">firstName-placeholder</td>
        <td th:text="${owner?.lastName}">lastName-placeholder</td>
    </tr>
    </tbody>
</table>

</body>
</html>