<!DOCTYPE html>
<html lang="en">
<head>
    <!--th:replace="~{fragments/layout :: layout (~{::body}, 'home')}"  pulls in nav and footer (that is in body) -->
    <meta charset="UTF-8" xmlns:th="http://www.thymeleaf.org"  th:replace="~{fragments/layout :: layout (~{::body}, 'home')}">
    <title>Pet Clinic Index Page</title>
</head>
<body>

<h2 th:text="#{welcome}">Replaced at runtime</h2>
<div class="row">
    <div class="col-md-12">
        <img class="img-responsive" src="../static/resources/images/pets.png" th:src="@{/resources/images/pets.png}"/>
    </div>
</div>


</body>
</html>